<p id="notice"><%= notice %></p>

<h1>Listing Messages</h1>

<%= sync partial: 'messages', collection: @messages %>
<%= sync_new partial: 'messages', resource: Message.new %>

<br>

<%= form_for @new_message, remote: true do |f| %>
    <%= f.text_field :body %>
<% end %>